In [69]:
import pandas as pd

In [70]:
summer=pd.read_csv("summer.csv",index_col="Athlete")

In [71]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [72]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [73]:
summer.describe()

               Year
count  31165.000000
mean    1970.482785
std       33.158416
min     1896.000000
25%     1948.000000
50%     1980.000000
75%     2000.000000
max     2012.000000

# Selecting Rows With iloc[]

In [74]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [75]:
type(summer.iloc[0])

pandas.core.series.Series

In [76]:
summer.iloc[-1]

Year                         2012
City                       London
Sport                   Wrestling
Discipline    Wrestling Freestyle
Country                       SWE
Gender                        Men
Event                    Wg 96 KG
Medal                      Bronze
Name: LIDBERG, Jimmy, dtype: object

In [77]:
summer.iloc[:3]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze

In [78]:
summer.iloc[0:5]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [79]:
summer.iloc[-5:]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [80]:
summer.iloc[:]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [81]:
summer.iloc[[2,45,8888]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"PERSAKIS, Ioannis",1896,Athens,Athletics,Athletics,GRE,Men,Triple Jump,Bronze
"RUZICKA, Josef",1952,Helsinki,Wrestling,Wrestling Gre-R,TCH,Men,+ 87KG (Super Heavyweight),Silver

# Indexing or Slicing with iloc[]

In [82]:
summer.iloc[0,4] #iloc[rows,columns]

'HUN'

In [83]:
summer.iloc[0,:3]

Year         1896
City       Athens
Sport    Aquatics
Name: HAJOS, Alfred, dtype: object

In [84]:
summer.iloc[0,[0,2,4]]

Year           1896
Sport      Aquatics
Country         HUN
Name: HAJOS, Alfred, dtype: object

In [85]:
summer.iloc[34:36,[1,2,3]]

                   City      Sport Discipline
Athlete
GARRETT, Robert  Athens  Athletics  Athletics
KELLNER, Gyula   Athens  Athletics  Athletics

# Selecting columns with iloc

In [86]:
summer.iloc[:,4]

Athlete
HAJOS, Alfred                HUN
HERSCHMANN, Otto             AUT
DRIVAS, Dimitrios            GRE
MALOKINIS, Ioannis           GRE
CHASAPIS, Spiridon           GRE
                            ...
JANIKOWSKI, Damian           POL
REZAEI, Ghasem Gholamreza    IRI
TOTROV, Rustam               RUS
ALEKSANYAN, Artur            ARM
LIDBERG, Jimmy               SWE
Name: Country, Length: 31165, dtype: object

# Label based indexing and slicing with loc[]

## Selecting rows with loc (Label based indexing)

In [87]:
summer.iloc[2]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [88]:
summer.loc["DRIVAS, Dimitrios"]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [89]:
summer.loc["PHELPS, Michael"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Freestyle,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X100M Medley Relay,Gold
"PHELPS, Michael",2008,Beijing,Aquatics,Swimming,USA,Men,4X200M Freestyle Relay,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Butterfly,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,200M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Freestyle,Silver
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X100M Medley,Gold
"PHELPS, Michael",2012,London,Aquatics,Swimming,USA,Men,4X200M Freestyle,Gold

## Indexing or Slicing with loc[]

In [90]:
summer.loc["PHELPS, Michael", "Medal"]

Athlete
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael      Gold
Name: Medal, dtype: object

In [91]:
summer.loc["PHELPS, Michael", "Medal"]

Athlete
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Bronze
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael    Silver
PHELPS, Michael      Gold
PHELPS, Michael      Gold
Name: Medal, dtype: object

In [92]:
summer.loc["PHELPS, Michael", ["Medal","Event"]]

                  Medal                   Event
Athlete
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael  Bronze          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael  Bronze  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael    Gold          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael    Gold  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael  Silver          200M Butterfly
PHELPS, Michael    Gold             200M Medley
PHELPS, Michael  Silver        4X100M Freestyle
PHELPS, Michael    Gold           4X100M Medley
PHELPS, Michael    Gold        4X200M Freestyle

In [93]:
summer.loc[:, ["Medal","Event"]]

                            Medal                       Event
Athlete
HAJOS, Alfred                Gold              100M Freestyle
HERSCHMANN, Otto           Silver              100M Freestyle
DRIVAS, Dimitrios          Bronze  100M Freestyle For Sailors
MALOKINIS, Ioannis           Gold  100M Freestyle For Sailors
CHASAPIS, Spiridon         Silver  100M Freestyle For Sailors
...                           ...                         ...
JANIKOWSKI, Damian         Bronze                    Wg 84 KG
REZAEI, Ghasem Gholamreza    Gold                    Wg 96 KG
TOTROV, Rustam             Silver                    Wg 96 KG
ALEKSANYAN, Artur          Bronze                    Wg 96 KG
LIDBERG, Jimmy             Bronze                    Wg 96 KG

[31165 rows x 2 columns]

In [94]:
summer.loc[:"CHASAPIS, Spiridon"]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [95]:
summer.loc[:"PHELPS, Michael"]

KeyError: "Cannot get right slice bound for non-unique label: 'PHELPS, Michael'"

In [96]:
summer.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [97]:
print(summer.loc["UNDA, Maider","Event"])

Wf 72 KG

In [98]:
sliced=summer.loc[["PAVIA, Automne","OCHAL, Glenn"],["Country","Sport"] ]
sliced

               Country   Sport
Athlete
PAVIA, Automne     FRA    Judo
OCHAL, Glenn       USA  Rowing

# Indexing and Slicing with reindexing()

In [99]:
s=pd.read_csv("summer.csv")

In [100]:
s.loc[[0,5,30000],["Athlete","Medal"]]

                     Athlete   Medal
0              HAJOS, Alfred    Gold
5      CHOROPHAS, Efstathios  Bronze
30000       PAUTARAN, Maryna  Bronze

In [101]:
s.loc[[0,5,30000,40000],["Athlete","Medal"]]

KeyError: '[40000] not in index'

In [102]:
s.reindex(index=[0,5,30000,40000],columns=["Athlete","Medal","Age"])

                     Athlete   Medal  Age
0              HAJOS, Alfred    Gold  NaN
5      CHOROPHAS, Efstathios  Bronze  NaN
30000       PAUTARAN, Maryna  Bronze  NaN
40000                    NaN     NaN  NaN

In [104]:
summer[["Year","Event","Medal"]].loc["LEWIS, Carl"]

             Year         Event   Medal
Athlete
LEWIS, Carl  1984          100M    Gold
LEWIS, Carl  1984          200M    Gold
LEWIS, Carl  1984  4X100M Relay    Gold
LEWIS, Carl  1984     Long Jump    Gold
LEWIS, Carl  1988          100M    Gold
LEWIS, Carl  1988          200M  Silver
LEWIS, Carl  1988     Long Jump    Gold
LEWIS, Carl  1992  4X100M Relay    Gold
LEWIS, Carl  1992     Long Jump    Gold
LEWIS, Carl  1996     Long Jump    Gold

# Advanced Indexing and Slicing

### case 1: getting the first 5 rows and rows 354 and 765

In [107]:
rows=list(range(5))+[354,765]
rows

[0, 1, 2, 3, 4, 354, 765]

In [108]:
summer.iloc[rows]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
DE BELLEGARDE,1900,Paris,Equestrian,Jumping,FRA,Men,Long Jump Individual,Bronze
"CORAY, Albert",1904,St Louis,Athletics,Athletics,ZZX,Men,4Miles Team,Silver

### case2: Getting the first 3 columns and the columns "Gender" and "Event"

In [116]:
cols=list(summer.columns[:3])+["Gender", "Event"]
cols

['Year', 'City', 'Sport', 'Gender', 'Event']

In [117]:
summer.loc[:,cols]

,Year,City,Sport,Gender,Event
Athlete,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Men,100M Freestyle
"HERSCHMANN, Otto",1896,Athens,Aquatics,Men,100M Freestyle
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Men,100M Freestyle For Sailors
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Men,100M Freestyle For Sailors
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Men,100M Freestyle For Sailors
...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Men,Wg 84 KG
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Men,Wg 96 KG
"TOTROV, Rustam",2012,London,Wrestling,Men,Wg 96 KG
"ALEKSANYAN, Artur",2012,London,Wrestling,Men,Wg 96 KG
"LIDBERG, Jimmy",2012,London,Wrestling,Men,Wg 96 KG

### case3: Combining position and label based indexing: Rows at position 200, 300 and columns "Athlete" and "Medal"

In [120]:
summer1=pd.read_csv("summer.csv")
summer1.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [123]:
summer1.iloc[[200,300]].loc[:,["Athlete","Medal"]]

                      Athlete   Medal
200               KEMP, Peter    Gold
300  SHELDON, Lewis Pendleton  Bronze

In [125]:
summer1.loc[[200,300],["Athlete","Medal"]]

                      Athlete   Medal
200               KEMP, Peter    Gold
300  SHELDON, Lewis Pendleton  Bronze

### case3: Combining position and label based indexing: Rows "PHELPS Michael" and position arguments 4 and 6

In [134]:
cols=summer.columns[[4,6]]
cols

Index(['Country', 'Event'], dtype='object')

In [135]:
summer.loc["PHELPS, Michael",cols]

                Country                   Event
Athlete
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA          200M Freestyle
PHELPS, Michael     USA  200M Individual Medley
PHELPS, Michael     USA  400M Individual Medley
PHELPS, Michael     USA  4X100M Freestyle Relay
PHELPS, Michael     USA     4X100M Medley Relay
PHELPS, Michael     USA  4X200M Freestyle Relay
PHELPS, Michael     USA          100M Butterfly
PHELPS, Michael     USA          200M Butterfly
PHELPS, Michael     USA             200M Medley
PHELPS, Michael     USA        4X100M Freestyle
PHELPS, Michael     USA           4X100M Medley
PHELPS, Michael     USA        4X200M Freestyle

In [137]:
summer1

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [138]:
athlete=summer1.Athlete

In [139]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [140]:
type(athlete)

pandas.core.series.Series

In [146]:
athlete.value_counts().head()

Athlete
PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
ONO, Takashi            13
MANGIAROTTI, Edoardo    13
Name: count, dtype: int64

In [142]:
athlete.shape

(31165,)

In [143]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [144]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      shape=(22762,), dtype=object)

In [145]:
athlete.min()

'AABYE, Edgar'

 #### How many (unique) Athletes won at least one Medal in the 1972 Edition?

In [152]:
summer1["Athlete"].nunique()

22762

### Which was the most successful (most medals) Athlete in the 1972 Edition?

In [155]:
summer1["Athlete"].value_counts().index[0]

'PHELPS, Michael'